@import "../../styles/variables.scss";
@import "../../styles/mixins";


.loaderWrapper {
    height: 85vh !important;
    section {
        background-color: transparent !important;
    }
}

.initial-assessment-container {
    margin: 3% 14%;
    max-width: 1000px;
    margin-bottom: 0 !important;
    padding-bottom: 30px !important;
    // min-height: 100vh;

    .roof-image-div {
        border: 1px solid $light-primary-color;
        border-radius: 10px;
    }

    .roof-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
    }

    .estimated-year-1-savings-text {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .solar-savings-text {
        font-size: 0.75rem;
        font-weight: 700;
    }

    .sign-up-bonus-text {
        font-size: 0.75rem;
        font-weight: 700;
        color: $primary-color;
    }

    .panel-count-text {
        font-size: 1rem;
        font-weight: 700;
    }

    .panel-count-number {
        font-size: 2.25rem;
        font-weight: 700;
    }

    .solar-coverage-heading-text {
        font-size: 1rem;
        font-weight: 700;
    }

    .solar-coverage-text {
        font-size: 0.75rem;
        color: #111;
        font-weight: bold;
    }

    .solar-coverage-progress-bar-div {
        width: 100px;
        height: 100px;
    }

    .panel-count-div {
        border: 1px solid $light-primary-color;
        border-radius: 10px;
    }

    .check-text {
        font-size: 1.125rem;
        font-weight: 700;
        text-align: center;
    }

    .check-text-div {
        padding: 3% 35%;
    }

    .zero-down-payment {
        font-size: 1rem;
        font-weight: 700;
        color: $primary-color;
    }

    .annual-savings-div {
        border: 3px solid $primary-color;
        border-radius: 10px;
        background-color: $progress-bar-done;
    }

    .heading-text {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .savings-range-text {
        font-size: 2.5rem;
        font-weight: 700;
        text-align: end;
    }

    .primary-color {
        color: $primary-color;
    }

    .propsal-button-div {
        border: 1px solid $light-primary-color;
        border-radius: 10px;
    }

    .get-proposal-button {
        background-color: $primary-color;
        color: white;
        border: 1px solid $primary-color;
        border-radius: 10px;
        font-size: 1rem;
        font-weight: 600;
        min-width: 207px;
    }

    .skip-call-text {
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 0;
    }

    @media (min-height: 781px) {
        margin: 5% 20%;
    }

    @media (min-width: 1380px) {
        margin-left: auto;
        margin-right: auto;
    }

    @include responsMax(1024px) {
        margin: 5% 3%;
        overflow: hidden;

        .solar-col {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }

    @include responsMax(767px) {
        min-height: 100vh;
        // margin-bottom: 150px;
        .zero-down-payment {
            font-size: 0.75rem;
        }

        .savings-range-text {
            font-size: 1.2rem;
        }

        .solar-savings-text {
            font-size: 0.625rem;
        }

        .sign-up-bonus-text {
            font-size: 0.625rem;
        }

        .solar-coverage-text {
            font-size: 0.725rem;
        }

        .solar-coverage-heading-text {
            font-size: 1rem;
        }

        .check-text-div {
            padding: 5% 0 3%;

            // margin-bottom: 150px !important;
        }

        .skip-call-text {
            font-size: 0.75rem;
            margin-bottom: 7px;
        }

        .get-proposal-button {
            font-size: 1rem;
            min-width: 100%;
            padding: 11px !important;
            border-radius: 8px;
        }

        .heading-text,
        .estimated-year-1-savings-text {
            font-size: 1.125rem;
        }

        .panel-count-number {
            font-size: 2rem;
        }

        .solar-coverage-progress-bar-div {
            width: 94px;
            height: 94px;
        }

        .propsal-button-div {
            justify-content: center !important;
            border: none;
            position: fixed;
            background-color: white;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 5vw;
            // background-color: $light-primary-body-color;
        }
    }

    @include responsMax(375px) {
        .savings-range-text {
            font-size: 1rem;
        }

        .solar-coverage-heading-text {
            font-size: 0.75rem;
        }

        .solar-coverage-text {
            font-size: 0.625rem;
        }

        .panel-count-text {
            font-size: 0.9rem;
        }

        .panel-count-number {
            font-size: 1rem;
        }

        .check-text {
            font-size: 1.05rem;
            margin-bottom: 100px;
        }

        .solar-coverage-progress-bar-div {
            width: 84px;
            height: 84px;
        }
        .check-text-div {
            margin-bottom: -26px;
            margin-top: -19px;
        }
        .heading-text {
            margin-top: -6px !important;
            margin-top: -1px !important;
        }
    }
}

.form-label {
    font-size: 0.875rem;
    font-weight: 500;
    color: $form-label-color;
}

.form-input {
    background-image: none !important;
}

.form-input:valid {
    border-color: revert-layer !important;
}

.form-input:valid:focus {
    border-color: revert-layer !important;
    box-shadow: revert-layer !important;
}

.form-feedback {
    font-size: 0.75rem;
}

input::placeholder {
    color: $input-placeholder-color;
    opacity: 1;
}

.form-input-button {
    background-color: $primary-color;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    height: 40px;
    width: 100px;

    &:disabled {
        background-color: $button-disabled-color;
        cursor: not-allowed;
        opacity: 0.7;
    }
}
